body{
    background-image: url(/img/galaxy.jpg);
}
.estilo{
    max-width: 25em;
    background-color: rgb(240, 248, 255, 0.5);
    padding: 1.3em;
    margin: 0 auto;
    border-radius: 0.5em;
    font-weight: bold;
}
input:focus{
    outline: none;
    color:slategrey;
}